
    <table class="table table-striped">
        <tr>
            <td>Enrollment ID</td><td>{{student.enrollment_id}}</td>
        </tr>
        <tr>
            <td>Enrollment Type</td><td>{{student.enrollment_type_id}}</td>
        </tr>
        <tr>
            <td>Name</td><td>{{student.student_name}}</td>
        </tr>
        <tr>
            <td>Father Name</td>
            <td>
                {% if student.father_name %}
                    {{student.father_name}}
                {% else %}
                    <i>Information Unavailable</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Mother Name</td>
            <td>
                {% if student.mother_name %}
                    {{student.mother_name}}
                {% else %}
                    <i>Information Unavailable</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>
                {% if student.dob %}
                    {{student.dob}}
                {% else %}
                    <i>Information Unavailable</i>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Course Enrollment Mode</td><td>{{student.course_enrollment_mode_id}}</td>
        </tr>
        <tr>
            <td>Course Enrolled</td><td>{{student.registered_for_id}} / {{student.batch}} / {{student.course_enrolled_id}} / {{student.course_specialization_id}}</td>
        </tr>
        <tr>
            <td>Study Center</td><td>{{student.study_center_id}}</td>
        </tr>
    </table>



